<div class="container">
    <nav>
        <a class="brand" href="">
            <img src="https://res.cloudinary.com/flashfeast/image/upload/v1683153445/angular-fatec/fat_logo_et8hnt.png" alt="">
        </a>
        <ul class="links">
            <li><a href="http://www.fatecsp.br/paginas/cursos.php">CURSOS</a></li>
            <li><a href="https://www.vestibularfatec.com.br/home/">VESTIBULAR</a></li>
            <li><a href="https://siga.cps.sp.gov.br/aluno/login.aspx">SIGA</a></li>
            <li><a href="http://san.fatecsp.br/">SAN</a></li>
        </ul>
        <ul class="social">
            <li><a href="https://web.facebook.com/fatecspoficial?_rdc=1&_rdr"><img class="social-icon-face" src="https://res.cloudinary.com/flashfeast/image/upload/v1683153445/angular-fatec/fc-icon_zlbgs4.svg"></a></li>
            <li><a href="https://www.instagram.com/fatecsp/"><img class="social-icon" src="https://res.cloudinary.com/flashfeast/image/upload/v1683153445/angular-fatec/inst_vff4qs.svg"></a></li>
            <li><a href="https://www.youtube.com/user/FatecSPOficial"><img class="social-icon" src="https://res.cloudinary.com/flashfeast/image/upload/v1683153446/angular-fatec/yt_qb53c5.svg"></a></li>
            <li><a href="http://www.fatec.sp.gov.br/view/Default.aspx"><img class="social-icon-mail" src="https://res.cloudinary.com/flashfeast/image/upload/v1683153446/angular-fatec/gm_ebv90j.svg"></a></li>
        </ul>
    </nav>  
</div>

