<div class="home">
    <div class="container">
        <h2>FACULDADE DE TECNOLOGIA DE SÃO PAULO</h2>
        <p class="text">Formando profissionais éticos, responsáveis e inovadores!</p>
    </div>

   

    <div class="container-fatec-img">
        <a class="fatec-img" href=""><img src="https://res.cloudinary.com/flashfeast/image/upload/v1683153445/angular-fatec/edi-fatec_jeebkp.jpg" alt=""></a>
    </div>


    <h2 class="highlights">Destaques</h2>

    <div class="cards">
        <div class="card">
            <h3 class="card-title">FATEC SP - 50 ANOS</h3>
            <p class="card-text">(1973 - 2023)</p>
            <a class="card-adjustment" href="http://www.fatecsp.br/paginas/historia_fatecsp.php#div_menu"> <img class="card-img" src="https://res.cloudinary.com/flashfeast/image/upload/v1683153445/angular-fatec/50anos_myekxh.jpg" alt=""></a>
        </div>
        <div class="card">
            <h3 class="card-title">VESTIBULAR FATEC - 2° SEMESTRE DE 2023</h3>
            <p class="card-text">Inscrições até 15h do dia 02/06</p>
            <a class="card-adjustment" href="https://www.vestibularfatec.com.br/home/"> <img class="card-img" src="https://res.cloudinary.com/flashfeast/image/upload/v1683153447/angular-fatec/vest2023_fhz6dd.png" alt=""></a>
        </div>
        <div class="card">
            <h3 class="card-title">MARATONA INTERFATECS</h3>
            <p class="card-text">Inscrições até o dia 05/05</p>
            <a class="card-adjustment" href="https://interfatecs.com.br/"> <img class="card-img" src="https://res.cloudinary.com/flashfeast/image/upload/v1683153446/angular-fatec/interfatecs_ze9vgl.png" alt=""></a>
        </div>
        <div class="card">
            <h3 class="card-title">CONSULTE AQUI O CADASTRO DA INTITUIÇÃO NO SISTEMA E-MEC</h3>
            <p class="card-text">--</p>
            <a class="card-adjustment" href="https://emec.mec.gov.br/emec/consulta-cadastro/detalhamento/d96957f455f6405d14c6542552b0f6eb/MzQ="> <img class="card-img" src="https://res.cloudinary.com/flashfeast/image/upload/v1683153446/angular-fatec/qrcode_emec_q4b4qn.jpg" alt=""></a>
        </div>
        <div class="card">
            <h3 class="card-title">COMUNICADO 01/2023: SEGURANÇA NA ENTRADA DA FATEC-SP</h3>
            <p class="card-text">A partir do dia 07/04/2023, a entrada de pedestres ocorrerá exclusivamente pela portaria 615</p>
            <a class="card-adjustment" href="http://www.fatecsp.br/paginas/destaques/ComunicadoSeguranca.pdf"> <img class="card-img" src="https://res.cloudinary.com/flashfeast/image/upload/v1683153445/angular-fatec/atencao_k5zw4p.jpg" alt=""></a>
        </div>
    </div>

    <div class="information">
        <h3 class="info-label">INFORMATIVOS</h3>
        <div class="cards-info">
            <div class="card-info">
                <a class="card-info-adjustment" href="http://www.fatecsp.br/paginas/cursos.php"> <img class="card-info-img" src="https://res.cloudinary.com/flashfeast/image/upload/v1683156371/angular-fatec/cafe_xo0t0z.jpg" alt=""></a>
                <h3 class="card-info-title">16 CURSOS SUPERIORES, GRATUITOS E DE QUALIDADE!</h3>
                <p class="card-info-text">--</p>
            </div>
            <div class="card-info">
                <a class="card-info-adjustment" href="http://www.fatecsp.br/paginas/tecnologo.php"> <img class="card-info-img" src="https://res.cloudinary.com/flashfeast/image/upload/v1683157344/angular-fatec/tas_marcelo_wtvtyh.jpg" alt=""></a>
                <h3 class="card-info-title">QUEM QUER SER TECNÓLOGO?</h3>
                <p class="card-info-text">Por: Marcelo Tas</p>
            </div>
            <div class="card-info">
                <a class="card-info-adjustment" href="http://www.fatecsp.br/paginas/a_fatecsp.php#infra"> <img class="card-info-img" src="https://res.cloudinary.com/flashfeast/image/upload/v1683156371/angular-fatec/fatec615_lcxyig.jpg" alt=""></a>
                <h3 class="card-info-title">INFRA-ESTRUTURA DA FATEC-SP</h3>
                <p class="card-info-text">Conheça o nosso espaço!</p>
            </div>
            <div class="card-info">
                <a class="card-info-adjustment" href="http://www.fatecsp.br/paginas/teams.php"> <img class="card-info-img" src="https://res.cloudinary.com/flashfeast/image/upload/v1683156371/angular-fatec/teams_logo_grmuju.jpg" alt=""></a>
                <h3 class="card-info-title">MICROSOFT TEAMS</h3>
                <p class="card-info-text">Login, Treinamentos e Tutoriais</p>
            </div>
        
        </div>
    </div>

    <h3 class="map-title">FATEC SP - AO LADO DO METRÔ TIRADENTES!</h3>

    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3658.0730771484764!2d-46.63497208842526!3d-23.52987391034896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sAv.%20Tiradentes%2C%20615%20-%20Bom%20Retiro%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001101-010!5e0!3m2!1spt-BR!2sbr!4v1683001420138!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
